@charset "UTF-8";

  /* cityNav style S */
.nav_wrap {
   display: flex;
   align-items: center;
   
 }

.navbar {
  list-style-type: none;
}

.nav_item {
  display: inline-block;
  margin-right: 20px;
}

#cityNav {
   margin-bottom: 10px;
   padding-bottom: 10px ;
   background-color: #f7f7f7;
}

.cityNavLink {
  text-decoration: none;
  color: #696969;
  font-size: 14px;
  margin-left: 10px; 
  cursor: pointer;
  font-weight: normal;
  transition: font-weight 0.3s;
}


/* 서울 경기 등 국내여행지 서브 메뉴 클릭시 서브메뉴 'bold'로 표시 */
.cityNavLink.active,
.cityNavLink:hover { 
    font-weight: bold;
}