@charset "UTF-8";
.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}

.grid-row {
    display: flex;
    width: 100%; /* .grid-row가 부모 너비를 100%로 사용 */
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1; /* .grid-item이 남는 공간을 비율에 맞게 사용 */
    width: calc(50% - 20px); /* 여백을 제외한 50%의 너비 설정 */
    margin: 10px;
    background-color: lightgray;
    border: 1px solid gray;
}

.inner-title {
    max-width: 100%;
    background-color: white;
}
.inner-item {
	width: 100%;
	line-height: 1.3;
	height: 200px;
}
a {
    text-decoration: none;
     color: black;
}
a:hover {
    color: red;
}
